@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    /* border:1px solid; */
  }
  body {
  }
  /*  */
  /*  */
  /* Header section Styling Starts Here */
  header {
    border-bottom: 1px solid rgb(210, 202, 202);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 7%;
  }
  /* Header brand styling here */
  header nav .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .brand img {
  }
  header nav .brand h1 {
    font-size: 2rem;
  }
  header nav .brand h1 .first-o {
    color: orange;
  }
  header nav .brand h1 .second-o {
    color: skyblue;
  }
  /* Header nav link styles here */
  header nav .nav-link {
    display: none;
  }
  /* Header contact starts here */
  header nav .contact {
    display: none;
  }
  /* Menu bar styling here */
  .menu-bar {
    font-size: 2.3rem;
  }
  /*  */
  /*  */
  /* Shared Button */
  .primary-btn {
    padding: 10px 40px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    margin-top: 2%;
  }
  /*  */
  /*  */
  /* Banner1 styling starts here */
  .banner1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 3% 7%;
    gap: 20px;
  }
  .banner1-description {
    width: 100%;
  }
  .banner1-description h1 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.01;
    text-align: center;
    padding: 5% 5%;
  }
  .banner1-description h1 #empowering {
    color: orange;
    display: block;
  }
  .banner1-description h1 #vision {
    color: #01acfd;
  }
  .banner1-description p {
    font-size: 1rem;
    padding: 5% 0 5%;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  .banner1-description button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .banner1-img {
    width: 100%;
  }
  .banner1-img img {
    width: 100%;
  }
  /*  */
  /*  */
  /* Banner2 styling starts here */
  .banner2 {
    padding: 0% 7%;
    background-image: url("../assets/bg.png");
    background-clip: padding-box;
  }
  .banner2 h1 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 500;
    margin-top: 3%;
  }
  .banner2 .card-container {
    margin-top: 5%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    padding: 5% 7% 0;
  }
  .banner2 .card-container .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 5% 5%;
  }
  .card h2 {
    padding: 5% 0 3%;
  }
  .card p {
    text-align: center;
    padding: 2% 0 5%;
  }
  .card a {
    padding: 5% 0;
    text-decoration: none;
  }
  .card img {
    padding: 5% 0;
  }
  .card1 {
    background: linear-gradient(#c1e9ff, #fff);
  }
  .card1 a {
    color: #01acfd;
  }
  .card2 {
    background: linear-gradient(#fce9dc, #fff);
  }
  .card2 a {
    color: orange;
  }
  .card3 {
    background: linear-gradient(#e4a9e4, #fff);
  }
  .card13 a {
    color: blueviolet;
  }
  /*  */
  /*  */
  /* Direction styling */
  .direction {
    display: none;
  }
  /*  */
  /*  */
  /* Banner3 stylling */
  .banner3 {
    background-image: url("../assets/bg.png"),
      linear-gradient(0deg, #f9deae, #fff);
    padding: 0 7%;
  }
  .banner3 > h1 {
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
    padding: 15% 0 5%;
  }
  /* banner 3 iamge section styling */
  .banner3 .story-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .banner3 .story-div .big-story {
    display: none;
  }
  /* Banner 3 regular styling starts here */
  .banner3 .story-div .regular-story {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .regular-story .img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .img-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .img-card .img-des {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    height: 100px;
  }
  .img-card .img-des h3 {
    padding: 17% 5% 10%;
    font-size: 1rem;
    font-weight: 500;
  }
  /* View all button styling */
  .last-btn-container {
    padding: 5% 0;
  }
  .view-all-btn {
    display: block;
    margin: 0 auto;
  }
  /*  */
  /*  */
  /* footer styling */
  footer {
    padding: 7% 7%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #00aeff;
  }
  .footer-title-container {
  }
  /* Footer-title styling */
  .footer-title {
    padding: 5% 0% 1%;
    display: flex;
    align-items: center;
  }
  .footer-title h2 {
    font-size: 2rem;
    color: #fff;
    line-height: 1;
  }
  .footer-title + p {
    /* padding: 0 5%; */
    color: #fff;
    font-size: 1rem;
    margin: 5% 0;
  }
  /* Footer link Styling  */
  .footer-link {
    /* display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: column; */
  }
  .footer-link .footer-heading h2 {
    color: #fff;
    width: 200px;
    font-weight: 500;
    padding: 10px 0;
    font-size: 1.5rem;
  }
  .footer-link .footer-link-list {
    width: 200px;
  }
  .footer-link-list {
  }
  .footer-link-list ul {
  }
  .footer-link-list ul li {
    list-style-type: none;
    padding: 10px 0;
  }
  .footer-link-list ul li a {
    text-decoration: none;
    color: #fff;
  }
  /* Social link styling */
  .social-link {
    /* border: 1px solid black; */
  }
  .social-link h3 {
    color: #fff;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight:500;
    margin-top:20px;
  }
  .social-link .icons-container {
    padding: 10px 0;
  }
}
